*{ 
    margin: 0;
    padding: 0;
}

body { 
    height: 100vh;
    border-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.header{ 
    min-height: 75px;
    flex-grow: 0;
    background-color: rgb(45, 52, 54);
    color: white;
}
.content{ 
    border-color: red;
    flex-grow: 1;
    display: flex;
    min-height: 350px;
}
.sidebar{ 
    transition: 280ms;
    max-width: 200px;
    min-width: 30px;
    flex-grow: 1;
    flex-shrink: 5;
    align-items: stretch;
    background-color: rgb(67, 77, 80);
}
.sidebar p{ 
    color: white;
    flex-grow: 1;
    height: 17px;
    overflow: hidden;
    padding: 0 5px;
    text-align: center;
    margin: 15px 5px;
}

.cards{ 
    overflow-y: auto;
    flex-grow: 10;
    flex-shrink: 0;
    background-color: rgb(206, 236, 229);
}
.card{     
    background-color: white;
    transition: 280ms;
    border: 1px solid rgb(213, 121, 236);
    border-radius: 6px;
    margin: 20px auto;
    height: 350px;
    min-width: 680px;
    width: 80%;
    max-width: 1000px;
    cursor: pointer;
}
.card img{ 
    width: 100%;
}
.card:hover{ 
    transition: 280ms;
}

.footer{ 
    flex-grow: 0;
    border-color:aquamarine;
    min-height: 30px;
    display:none; /*want this here if i need it later, but for now don't need it*/
}



@media only screen and (max-width: 900px) {
    .sidebar{ 
        flex-grow: 1;
        transition: 280ms;
        max-width: 70px;
        min-width: 50px;
    }
    .card{ 
        transition: 280ms;
        min-width: 350px;
        max-width: 500px;
    }
    
}