*{ 
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
html{ 
    
}
body{ 
    height: 100vh;
    border-color: yellow;
    border-width: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.header{ 
    min-height: 90px;
    flex-grow: 0;
}
.content{ 
    border-color: red;
    border-width: 3px;
    flex-grow: 1;
    display: flex;
    min-height: 350px;
    
}
.sidebar{ 
    border-color: blue;
    min-width: 45px;
}
.sidebar p{ 
    text-align: center;
    height: 17px;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 2px;
}
.cards{ 
    overflow-y: auto;
    flex-grow: 10;
    border-width: 5px;
    border-color: rgb(77, 131, 77);
    /*
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    */
}
.card{ 
    border-radius: 6px;
    margin: 20px auto;
    height: 350px;
    min-width: 400px;
    width: 80%;
    max-width: 1000px;
}
.card img{ 
    width: 100%;
}

.footer{ 
    flex-grow: 0;
    border-color:aquamarine;
    min-height: 30px;
    display:none; /*want this here if i need it later, but for now don't need it*/
}