@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Urbanist:wght@400;500;600;700&display=swap');
*{ 
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body { 
    height: 100vh;
    border-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.header{ 
    min-height: 40px;
    flex-grow: 0;
    background-color: rgb(45, 48, 54);
    color: white;
    display: flex;
    align-items: center;
}
.location{ 
    margin-left: 7px;
    transition: 400ms;
    display: flex;
    width: 186px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.content{ 
    border-color: red;
    flex-grow: 1;
    display: flex;
    min-height: 350px;
}
.sidebar{ 
    transition: 280ms;
    max-width: 200px;
    min-width: 30px;
    flex-grow: 1;
    flex-shrink: 5;
    background-color: rgb(67, 75, 80);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 60px;
}
.sidebar p{ 
    color: rgb(235, 235, 252);
    flex-grow: 1;
    overflow: hidden;
    padding: 0 5px;
    text-align: center;
}
.sidebar .name{ 
    font-size: 74px;
    margin-top: 5px;
    text-align: left;
}
.sidebar .name .last-name{ 
    font-size: 31px;
    font-family: Raleway;
    color: rgb(162, 162, 253);
}
.name p{ 
    font-family: Urbanist;
}
.contact{ 
    width: 100%;
    display: flex;
    height: 180px;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.contact .text,
.contact .icons{ 
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 25px;
    gap: 20px;
}
.contact .icons li{ 
    display: flex;
    align-items: center;
    height: 30px;
}
.contact .icons svg{ 
    width: 30;
    height: 30;
}

.cards{ 
    overflow-y: auto;
    flex-grow: 10;
    flex-shrink: 0;
    background-color: rgb(200, 210, 216);
}
.card{     
    background-color: white;
    border: 2px solid rgb(230, 214, 163);
    border-radius: 6px;
    margin: 20px auto;
    height: 380px;
    width: 80%;
    max-width: 1000px;
    cursor: pointer;
    overflow: hidden;
}
.card video{ 
    height: 100%;
}
/*
.card:hover{ 
    transition: 280ms;
    transform: scale(1.03);
    border-width: 2px;
    opacity: 1;
}
*/

.footer{ 
    flex-grow: 0;
    border-color:aquamarine;
    min-height: 30px;
    display:none; /*want this here if i need it later, but for now don't need it*/
}



@media only screen and (max-width: 900px) {
    .sidebar{ 
        flex-grow: 1;
        transition: 280ms;
        max-width: 70px;
        min-width: 70px;
    }
    .card{
        transition: 280ms;
        min-width: 350px;
        max-width: 500px;
    }
    .sidebar .name{ 
        font-size: 28px;
    }
    .sidebar .name .last-name{
        padding-left: -10px;
        font-size: 13px;
    }
    .location{ 
        transition: 400ms;
        margin-left: 9px;
        justify-content: flex-start;
    }
}